@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

    <h1>Definitely not Amazon</h1>

    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.ISBN</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>PageCount: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>
    } 
    @for (int i = 1; i <= Model.PaginationInfo.TotalNumPages; i++)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-pageNum="@i">@i</a>
    }






